<!doctype html>
<html>
<meta charset="utf-8">

<head>
  <title>Brain Odyssey</title>

  <script src="static/d3.js"></script>
  <script src="static/jquery.js"></script>
  <script src="static/brainbrowser/js/jquery-2.1.1.min.js"></script>
  <script src="static/brainbrowser/brainbrowser.js"></script>
  <script src="static/brainbrowser/core/tree-store.js"></script>
  <script src="static/brainbrowser/lib/config.js"></script>
  <script src="static/brainbrowser/lib/utils.js"></script>
  <script src="static/brainbrowser/lib/events.js"></script> 
  <script src="static/brainbrowser/lib/loader.js"></script> 
  <script src="static/brainbrowser/lib/color-map.js"></script>
  <script src="static/brainbrowser/surface-viewer.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/three.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/parse-intensity-data.js"></script> 
  <script src="static/brainbrowser/surface-viewer/modules/annotations.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/color.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/loading.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/rendering.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/views.js"></script>

  <style>

    .node circle {
      cursor: pointer;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .node text {
      font: 10px sans-serif;
      pointer-events: none;
      text-anchor: middle;
    }

    line.link {
      fill: none;
      stroke: #9ecae1; 
      stroke-width: 1.5px;

    }

    #brainbrowser_here {
      height:600px;
      width:600px;
    }

    #d3_here {
      height:600px;
      width:600px;
    }

    #title {
      height:80px;
      text-align: center;
    }

    .inline_box {
      float:left;
    }

    .non-inline {
      clear:left;
    }

    body {
      background-color:white;
      color:black;
    }

    h3 {
      font: 30px sans-serif;
      font-weight: bold;
    }

    h4 {
      text-align: center;
    }

  </style>

  <script>BrainBrowser.config.set("worker_dir", "static/brainbrowser/workers")</script>
</head>


<body>

  <!--HTML BODY --> 

    <div id="title">
      <h3>Brain Odyssey</h3>
    </div>

    <div class="non_inline">
      <form id="xyz_coord">Shift+click on the brain or enter coordinates manually here:<br>
          <label for="xcoord">X:
              <input type="text" name="xcoord" id="xcoord">
          </label>
          <label for="ycoord">Y:
              <input type="text" name="ycoord" id="ycoord">
          </label>
          <label for="zcoord">Z:
              <input type="text" name="zcoord" id="zcoord">
          </label>
          <button type="button" id="submit-xyz">Select these coordinates</button>
          <br><br>
      </form>

      <form id="word_search_form">
        <label for="word_search">Enter a word here to search for activation patterns:
          <input type="text" name="word_search" id="word_search">
        </label>
        <button type="button" id="submit_word">Search</button>
        <br><br>
      </form>
    
    <h4 id="header"></h4>
    <div id="brainbrowser_here" class="inline_box"></div>
    <div id="d3_here" class="inline_box"></div>
    <div class="non_inline">
      <h4 id="references_title"></h4>
      <ol id="references">
      </ol>
    </div>


    <script>

    // BRAINBROWSER FUNCTIONS HERE /////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    
    function render_brainbrowser() {
      window.viewer = BrainBrowser.SurfaceViewer.start("brainbrowser_here", function(viewer) {
        
        viewer.render(); // render the 3d viewer
        viewer.setClearColor(parseInt('ffffff', 16));  // set background to white
        viewer.loadModelFromURL("static/models/brain-surface.obj");  // load MNIobj

        // Event handler sends an AJAX request using x, y, z coordinates when the user clicks on a part of the brain 
        $("#brainbrowser_here").click(function(event) {

          // If ctrlClick, get the xyz coordinates,
          // draw a dot at that location,
          // clear any old D3,
          // and tell the user to expect the new D3 
          if (!event.shiftKey && !event.ctrlKey) return;
          var pick_info = viewer.pick();
          if (pick_info) {
            var x = Math.round(pick_info.point.x);
            var y = Math.round(pick_info.point.y);
            var z = Math.round(pick_info.point.z);
            viewer.drawDot(x, y, z, 2, 0x3399CC);   // display the click 

            // Clear the screen of residual D3, refs, intensity maps 
            clearScreen();

            // Show header
            xyz = String(x) + " " + String(y) + " " + String(z);
            displayHeader(searchType="Location", searchParameter=xyz);     

            // Get the JSON for D3 and initialize it 
            var d3Url = "d3.json?xcoord=" + String(x) + 
                      "&ycoord=" + String(y) + 
                      "&zcoord=" + String(z) +
                      "&options=location";
            $.get(d3Url, initializeD3);

            // Get the references and display them
            var refsUrl = "xcoord=" + String(x) + 
                          "&ycoord=" + String(y) + 
                          "&zcoord=" + String(z) + 
                          "&options=location";
            displayRefs(refsUrl);

          };
        }); 
      });
    }

    render_brainbrowser()

    // CUSTOM FUNCTIONS  /////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    function clearScreen() {
      d3.select("svg").remove();
      displayIntensity('options=clear');  
      $('li').remove(); 
      $('#references_title').html('');
    }


    function displayHeader(searchType, searchParameter) {
      var msg = searchType + ": " + searchParameter;
      $('#header').html(msg);
    }


    function displayRefs(url) {

      $("#references_title").html("References");

      var referencesUrl = '/citations.json?' + url;
      $.get(referencesUrl, function (results) {

        var citations = results;  
        var refs = $("#references"); 
        refs.empty(); 

        for (var key in citations) {

          var li = document.createElement("li");
          li.innerHTML=citations[key];
          $("#references").append(li);

          var btn = document.createElement("button");
          btn.setAttribute("id", key);
          btn.setAttribute("class", "citation");
          btn.innerHTML="Tell me about studies like this";
          li.appendChild(btn);

        };

        clickReference();

      });

    }


    // When the user clicks on a word or topic, project an 
    // intensity map onto the brain reflecting activation associated with it
    function displayIntensity(url) {

      viewer.loadColorMapFromURL('/colors');  
      var intensityUrl = '/intensity?' + url;
      viewer.loadIntensityDataFromURL(intensityUrl, {
        min:0, 
        max:0.25,
      });

    }


    function getClusterChildren(cluster_id) {

      url = '/d3topic.json?cluster_id=' + cluster_id;
      $.get(url, initializeD3);

    }

    // Event handlers to generate intensity or D3 when user manually submits
    // a word or a coordinate, or clicks on a reference

    // Location --> d3 + references 

    $("#submit-xyz").on("click", function(evt) {

      var x = String($("#xcoord").val());
      var y = String($("#ycoord").val());
      var z = String($("#zcoord").val());

      // Form validation 
      if (isNaN(x) == false || isNaN(y) == false || isNaN(z) == false ||
        x > 100 || x < -100 || y > 100 || y < -100 || z > 100 || z < -100) {
        alert("Please enter coordinates between -100 and 100.");
        return false;
      }

      clearScreen();
      msg = x + " " + y + " " + z;
      displayHeader(searchType="Location", searchParameter=msg);
      viewer.drawDot(x, y, z, 2, 0x3399CC)

      var url = "xcoord=" + x + 
                "&ycoord=" + y + 
                "&zcoord=" + z + 
                "&options=location";
      $.get('/d3.json?' + url, initializeD3);
      displayRefs(url)

    }); 


    // Word --> intensity + references 
    $('#submit_word').on('click', function(evt) {

      clearScreen();

      var word = $('#word_search').val();
      displayHeader(searchType="Word", searchParameter=word);

      var url = "word=" + word + "&options=word";
      displayIntensity(url);
      displayRefs(url);

    });
    
    // References --> intensity + D3  
    function clickReference() {

      $('.citation').on('click', function(evt) {

        console.log("User clicked on a reference.");
        clearScreen();
        displayHeader(searchType="Study", searchParameter=this.id);

        var url = 'pmid=' + this.id + '&options=study';

        displayIntensity(url);

        var d3Url = "/d3.json?pmid=" + this.id + "&options=study";
        $.get(d3Url, initializeD3);

      });

    }


    // D3 JAVASCRIPT HERE //////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    

    function initializeD3(results) {   
        console.log("Initializing D3.");
        console.log(results)

        var width = 600,
            height = 600,
            root; 

        var force = d3.layout.force()
            .linkDistance(20)
            .charge(-300)
            .gravity(.10)
            .size([width, height])
            .on("tick", tick);

        var svg = d3.select("#d3_here").append("svg")
            .attr("width", width)
            .attr("height", height);

        var link = svg.selectAll(".link"),
            node = svg.selectAll(".node");

        var root = results;
        update();

        function update() {
          var nodes = flatten(root),
              links = d3.layout.tree().links(nodes);

          // Restart the force layout.
          force
              .nodes(nodes)
              .links(links)
              .start();

          // Update links.
          link = link.data(links, function(d) { return d.target.id; });

          link.exit().remove();

          link.enter().insert("line", ".node")
              .attr("class", "link");

          // Update nodes.
          node = node.data(nodes, function(d) { return d.id; });

          node.exit().remove();

          var nodeEnter = node.enter().append("g")
              .attr("class", "node")
              .on("click", click)
              .call(force.drag);

          nodeEnter.append("circle")
              .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; });

          nodeEnter.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });
              // Can I access d.name if I want to use the name to query my db? 

          node.select("circle")
              .style("fill", color);
        }

        function tick() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        }

        function color(d) {
          return d._children ? "#3182bd" // collapsed package
              : d.children ? "#c6dbef" // expanded package
              : "#fd8d3c"; // leaf node
        }

        // Event handlers to deal with clicks on children: 
        function click(d) {

          if (d3.event.defaultPrevented) return; // ignore drag
          if (d.children) {  
            if (d.name === '') { return }; // ignore placeholder nodes w/ no name
            displayHeader(seachType="Topic #", searchParameter=d.name);
            var url = "cluster=" + d.name + "&options=cluster"; 
            getClusterChildren(d.name);
          } else {
            displayHeader(searchType="Word", searchParameter=d.name);
            var url = "word=" + d.name + "&options=word";
          }

          clearScreen();
          displayRefs(url);
          displayIntensity(url);
          update();

        }

        // Returns a list of all nodes under the root.
        function flatten(root) {
          var nodes = [], i = 0;

          function recurse(node) {
            if (node.children) node.children.forEach(recurse);
            if (!node.id) node.id = ++i;
            nodes.push(node);
          }

          recurse(root);
          return nodes;
        }
    } 

  // D3 SCRIPT END  --------------------------------------------


</script>

</body>
</html>