<!doctype html>
<html>
<meta charset="utf-8">

<head>
  <title>Brain Odyssey</title>

  <script src="static/d3.js"></script>
  <script src="static/jquery.js"></script>
  <script src="static/brainbrowser/js/jquery-2.1.1.min.js"></script>
  <script src="static/brainbrowser/brainbrowser.js"></script>
  <script src="static/brainbrowser/core/tree-store.js"></script>
  <script src="static/brainbrowser/lib/config.js"></script>
  <script src="static/brainbrowser/lib/utils.js"></script>
  <script src="static/brainbrowser/lib/events.js"></script> 
  <script src="static/brainbrowser/lib/loader.js"></script> 
  <script src="static/brainbrowser/lib/color-map.js"></script>
  <script src="static/brainbrowser/surface-viewer.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/three.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/parse-intensity-data.js"></script> 
  <script src="static/brainbrowser/surface-viewer/modules/annotations.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/color.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/loading.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/rendering.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/views.js"></script>
  <script src="static/brainbrowser/volume-viewer.js"></script>
  <script src="static/brainbrowser/volume-viewer/lib/display.js"></script>
  <script src="static/brainbrowser/volume-viewer/lib/panel.js"></script>
  <script src="static/brainbrowser/volume-viewer/lib/utils.js"></script>
  <script src="static/brainbrowser/volume-viewer/modules/loading.js"></script>
  <script src="static/brainbrowser/volume-viewer/modules/rendering.js"></script>
  <script src="static/brainbrowser/volume-viewer/volume-loaders/overlay.js"></script>
  <script src="static/brainbrowser/volume-viewer/volume-loaders/minc.js"></script>

  <style>

    .node circle {
      cursor: pointer;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .node text {
      font: 10px sans-serif;
      pointer-events: none;
      text-anchor: middle;
    }

    line.link {
      fill: none;
      stroke: #9ecae1; 
      stroke-width: 1.5px;

    }

    #brainbrowser_here {
      height:600px;
      width:600px;
    }

    #d3_here {
      height:600px;
      width:600px;
    }

    #title {
      height:80px;
      text-align: center;
    }

    .inline_box {
      float:left;
    }

    .non-inline {
      clear:left;
    }

    body {
      background-color:white;
      color:black;
    }

    h3 {
      font: 30px sans-serif;
      font-weight: bold;
    }

    h4 {
      text-align: center;
    }

  </style>

  <script>BrainBrowser.config.set("worker_dir", "static/brainbrowser/workers")</script>
</head>


<body>

  <!--HTML BODY --> 

    <div id="title">
      <h3>Brain Odyssey</h3>
    </div>

    <div class="non_inline">
      <form id="xyz_coord">Shift+click on the brain or enter coordinates manually here:<br>
          <label for="xcoord">X:
              <input type="text" name="xcoord" id="xcoord">
          </label>
          <label for="ycoord">Y:
              <input type="text" name="ycoord" id="ycoord">
          </label>
          <label for="zcoord">Z:
              <input type="text" name="zcoord" id="zcoord">
          </label>
          <label for="radius">Radius:
              <select name="radius" id="radius">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
          </label>
          <button type="button" id="submit-xyz">Select these coordinates!</button>
          <br><br>
      </form>
    
    <h4 id="header"></h4>
    <div id="brainbrowser_here" class="inline_box"></div>
    <div id="d3_here" class="inline_box"></div>
    <br><br>
    <div class="non_inline">
      <ol id="references">
      </ol>
    </div>


    <script>

    // BRAINBROWSER FUNCTIONS HERE /////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    // Re-render brainbrowser to clear off the markers when someone clicks on the brain?
    function render_brainbrowser() {
      window.viewer = BrainBrowser.SurfaceViewer.start("brainbrowser_here", function(viewer) {
        
        // Render the viewer and load an mniobj brain surface
        viewer.render();
        // Set the background to white
        viewer.setClearColor(parseInt('ffffff', 16)); 
        // Load the mniobj 
        viewer.loadModelFromURL("static/models/brain-surface.obj"); 

        // Event handler sends an AJAX request using x, y, z coordinates when the user clicks on a part of the brain 
        $("#brainbrowser_here").click(function(event) {

          // If ctrlClick, get the xyz coordinates 
          if (!event.shiftKey && !event.ctrlKey) return;
          var pick_info = viewer.pick();
          if (pick_info) {
            var x = Math.round(pick_info.point.x);
            var y = Math.round(pick_info.point.y);
            var z = Math.round(pick_info.point.z);
            viewer.drawDot(x, y, z, 2, 0x3399CC); // display the click
            d3.select("svg").remove(); // clear current D3
            $('#header').html('Displaying functions associated with: ' + x + ' ' + y + ' ' + z + '. Click on a word for more information about it.')

            // Query the db and display the results in D3
            var d3Url = "/d3.json?xcoord=" + String(x) + 
                      "&ycoord=" + String(y) + 
                      "&zcoord=" + String(z);
            var citationUrl = "/citations?xcoord=" + String(x) + 
                      "&ycoord=" + String(y) + 
                      "&zcoord=" + String(z);
            $.get(d3Url, initializeD3);
            $.get(citationUrl, displayRefsForLocation);
          };
        }); 
      });
    };

    render_brainbrowser()

    // CUSTOM FUNCTIONS HERE /////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    // When a user clicks on a node, put dots on the locations associated with that word
    function displayLocations(results) {

      d3.select('#d3_here').selectAll('svg').remove(); // clear the D3 visualization
      $('li').remove()  // clear the references associated with the original location 

      var word = Object.keys(results);
      $('#header').html('Displaying patterns of activation associated with the word "' + word + '." Click on a location for more information about it.');

      var locations = results[word];
      for (var i=0; i<locations.length; i++) {
        id = locations[i][0];
        xVal = locations[i][1];
        yVal = locations[i][2];
        zVal = locations[i][3];
        viewer.drawDot(xVal, yVal, zVal, 2);
      };

    };


    // When the user clicks on a location in the brain, display citations for 
    // that location
    function displayRefsForLocation(results) {

      var citations = results['citations'];
      var refs = document.getElementById("references"); 
      $('li').remove(); // Remove any references left from last click 

      for (i=0; i<citations.length; i++) {
        var li = document.createElement("li");
        li.innerHTML=citations[i];
        $("#references").append(li);
      };

    }

    // function displayRefsForTerm(results) {
    //   TO DO: implement me!
    // }

    function displayIntensity() {
      d3.select('#d3_here').selectAll('svg').remove(); // clear the D3 visualization
      $('li').remove() 
      viewer.loadColorMapFromURL('/colors');
      viewer.loadIntensityDataFromURL('/intensity');
    }

    function getJson() {

      d3.select("#d3_here").selectAll("svg").remove();

      var xVal = $("#xcoord");
      var yVal = $("#ycoord");
      var zVal = $("#zcoord");
      console.log("Getting JSON.");
      var url = "/d3.json?" + $("#xyz_coord").serialize()
      $.get(url, initializeD3);
    }

    $('#submit-xyz').on('click', getJson);


    // D3 FUNCTIONS HERE //////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    

    function initializeD3(results) {   
        console.log("Initializing D3.");

        var width = 600,
            height = 600,
            root; 

        var force = d3.layout.force()
            .linkDistance(20)
            .charge(-300)
            .gravity(.10)
            .size([width, height])
            .on("tick", tick);

        var svg = d3.select("#d3_here").append("svg")
            .attr("width", width)
            .attr("height", height);

        var link = svg.selectAll(".link"),
            node = svg.selectAll(".node");

        var root = results;
        update();

        function update() {
          var nodes = flatten(root),
              links = d3.layout.tree().links(nodes);

          // Restart the force layout.
          force
              .nodes(nodes)
              .links(links)
              .start();

          // Update links.
          link = link.data(links, function(d) { return d.target.id; });

          link.exit().remove();

          link.enter().insert("line", ".node")
              .attr("class", "link");

          // Update nodes.
          node = node.data(nodes, function(d) { return d.id; });

          node.exit().remove();

          var nodeEnter = node.enter().append("g")
              .attr("class", "node")
              .on("click", click)
              .call(force.drag);

          nodeEnter.append("circle")
              .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; });

          nodeEnter.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });
              // Can I access d.name if I want to use the name to query my db? 

          node.select("circle")
              .style("fill", color);
        }

        function tick() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        }

        function color(d) {
          return d._children ? "#3182bd" // collapsed package
              : d.children ? "#c6dbef" // expanded package
              : "#fd8d3c"; // leaf node
        }

        // Toggle children on click.
        function click(d) {
          if (d3.event.defaultPrevented) return; // ignore drag
          if (d.children) {  
            d._children = d.children;   
            d.children = null;  
          } else {
            d.children = d._children; 
            d._children = null;
            // $.get('/locations', {word: String(d.name)}, displayLocations);
            displayIntensity(); 
          }
          update();
        }
        // I think update() needs to go in the "if" clause? 

        // Returns a list of all nodes under the root.
        function flatten(root) {
          var nodes = [], i = 0;

          function recurse(node) {
            if (node.children) node.children.forEach(recurse);
            if (!node.id) node.id = ++i;
            nodes.push(node);
          }

          recurse(root);
          return nodes;
        }
    } 

  // D3 SCRIPT END  --------------------------------------------


</script>

</body>
</html>