<!doctype html>
<html>
<meta charset="utf-8">

<head>
  <title>Brain Odyssey</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="static/d3.js"></script>
  <script src="static/jquery.js"></script>
  <script src="static/brainbrowser/js/jquery-2.1.1.min.js"></script>
  <script src="static/brainbrowser/brainbrowser.js"></script>
  <script src="static/brainbrowser/core/tree-store.js"></script>
  <script src="static/brainbrowser/lib/config.js"></script>
  <script src="static/brainbrowser/lib/utils.js"></script>
  <script src="static/brainbrowser/lib/events.js"></script> 
  <script src="static/brainbrowser/lib/loader.js"></script> 
  <script src="static/brainbrowser/lib/color-map.js"></script>
  <script src="static/brainbrowser/surface-viewer.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/three.js"></script>
  <script src="static/brainbrowser/surface-viewer/lib/parse-intensity-data.js"></script> 
  <script src="static/brainbrowser/surface-viewer/modules/annotations.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/color.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/loading.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/rendering.js"></script>
  <script src="static/brainbrowser/surface-viewer/modules/views.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,700' rel='stylesheet' type='text/css'>
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <style>


    .node circle {
      cursor: pointer;
      stroke: #3182bd;
      stroke-width: 1.5px;;
    }

    .node text {
      font: 10px sans-serif;
      pointer-events: none;
      text-anchor: middle;
    }

    line.link {
      fill: none;
      stroke: #9a9a9a;  
      stroke-width: 1.5px;

    }

    #brainbrowser_here {
      height: 500px;
      width: 400px;
    }

    #d3_here {
      float:left;
      height:500px;
      width:400px;
    }

    #references {
      height: 700px;
      overflow-y:scroll;
    }

    body {
      background: white; 
      font-family: Raleway, sans-serif;
      font-weight:300;
    }

    h3 {
      font: 30px sans-serif;
      font-weight: bold;
    }

    h4 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    .row {
      margin: 10px;
    }

    .ui-widget {
      font-family: Raleway, sans-serif;
      font-weight:300;
    }

    .ui-widget button {
      font-family: Raleway,sans-serif;
      font-weight:300;
    }

    .panel > .panel-heading {
      text-align: center;
    }

    .well {
      height: 130px;
    }

/*    .form_inline {
      height: 170px;
    }*/

  </style>

</head>

<body>

  <!--HTML BODY --> 

<div class="container-fluid">
  <div class="row"> <!--main row--> 
    
    <div class= "col-lg-4">  <!-- Column 1-->

      <div class="row"> <!-- D3-->
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="d3_here" class="inline_box"></div>
          </div>
        </div>
      </div>

      <div class="row"> <!-- Form -->
        <div class="panel panel-default">
          <div class = "panel-body">
            <form class = "form-inline" id="xyz_coord">
                <label for="xcoord">X:
                    <input type="text" name="xcoord" id="xcoord">
                </label>
                <label for="ycoord">Y:
                    <input type="text" name="ycoord" id="ycoord">
                </label>
                <label for="zcoord">Z:
                    <input type="text" name="zcoord" id="zcoord">
                </label>
                <button type="button" id="submit-xyz">Select these coordinates</button>
                <br><br>
            </form>
            <div class="ui-widget">
              <form class="form-inline" id="word_search_form">Enter a word here to search for activation patterns:<br>
                <label for="word_search">
                  <input type="text" name="word_search" id="word_search">
                </label>
                <button type="button" id="submit_word">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div> <!--End form --> 


      </div> <!-- end Column 1 --> 

    
    <div class= "col-lg-4"> <!-- Column 2-->

      <div class="row"> <!-- Word-->
        <div class="well">
          <h2 id="header"></h2>
        </div>
      </div>

      <div class="row"> <!-- Brainbrowser-->
        <div class="panel panel-default">
          <div class="panel-heading">Shift+click to explore the brain!
          </div>
          <div class="panel-body">
            <div id="brainbrowser_here"></div>
          </div> 
        </div>
      </div> <!-- end Brainbrowser--> 

    </div> <!-- End column 2-->
    
    
    <div class= "col-lg-4"> <!-- Column 3-->

      <div class="row"> <!-- References-->
        <div class="panel panel-default">
        <div class="panel-body">
          <div class="references_div">
            <h4 id="references_title"></h4>
              <ol id="references">
              </ol>
          </div>
        </div>
        </div>
      </div> 
    </div> <!-- End column 3-->
    
  </div> <!--End main row--> 
</div> <!--End container--> 

<!--     <div id="title">
      <h3>Brain Odyssey</h3>
    </div>

    <div class="non_inline">
      <form id="xyz_coord">Shift+click on the brain or enter coordinates manually here:
          <label for="xcoord">X:
              <input type="text" name="xcoord" id="xcoord">
          </label>
          <label for="ycoord">Y:
              <input type="text" name="ycoord" id="ycoord">
          </label>
          <label for="zcoord">Z:
              <input type="text" name="zcoord" id="zcoord">
          </label>
          <button type="button" id="submit-xyz">Select these coordinates</button>
          <br><br>
      </form>

      <form id="word_search_form">
        <label for="word_search">Enter a word here to search for activation patterns:
          <input type="text" name="word_search" id="word_search">
        </label>
        <button type="button" id="submit_word">Search</button>
        <br><br>
      </form>
    
    <h4 id="header"></h4>
    <div id="brainbrowser_here" class="inline_box"></div>
    <div id="d3_here" class="inline_box"></div>
    <div class="references_div">
      <h4 id="references_title"></h4>
      <ol id="references">
      </ol>
    </div> -->



    <script>

    // MAIN BRAINBROWSER FUNCTION  /////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    BrainBrowser.config.set("worker_dir", "static/brainbrowser/workers")
    
    function render_brainbrowser() {
      window.viewer = BrainBrowser.SurfaceViewer.start("brainbrowser_here", function(viewer) {
        
        viewer.render(); // render the 3d viewer
        viewer.setClearColor(parseInt('ffffff', 16));  // set background to white
        viewer.loadModelFromURL('static/models/brain-surface.obj');  // load MNIobj 

        // Event handler sends an AJAX request using x, y, z coordinates when the user clicks on a part of the brain 
        $("#brainbrowser_here").click(function(event) {

          // If ctrlClick, get the xyz coordinates,
          // draw a dot at that location,
          // clear any old D3,
          // and tell the user to expect the new D3 
          if (!event.shiftKey && !event.ctrlKey) return;
          var pick_info = viewer.pick();
          if (pick_info) {
            var x = Math.round(pick_info.point.x);
            var y = Math.round(pick_info.point.y);
            var z = Math.round(pick_info.point.z);
            viewer.drawDot(x, y, z, 2, 0x3399CC);   // display the click 

            // Clear the screen of residual D3, refs, intensity maps 
            clearScreen();

            // Show header
            xyz = String(x) + " " + String(y) + " " + String(z);
            displayHeader(searchType="Location", searchParameter=xyz);     

            // Get the JSON for D3 and initialize it 
            var d3Url = "d3.json?xcoord=" + String(x) + 
                      "&ycoord=" + String(y) + 
                      "&zcoord=" + String(z) +
                      "&options=location";
            $.get(d3Url, initializeD3);

            // Get the references and display them
            var refsUrl = "xcoord=" + String(x) + 
                          "&ycoord=" + String(y) + 
                          "&zcoord=" + String(z) + 
                          "&options=location";
            displayRefs(refsUrl);

          };
        }); 
      });
    }

    // DEFAULT FUNCTIONS /////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////

    render_brainbrowser()

    $("#header").html("Brain Odyssey")

    // Get the words for autocomplete
    $.get('/words', function(results) {
      var words = results['words'];
      console.log(words)
      $("#word_search").autocomplete({source: words});
    });

    // CUSTOM FUNCTIONS  /////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////


    function clearScreen() {
      d3.select("svg").remove();
      displayIntensity('options=clear');  
      $('li').remove(); 
      $('#references_title').html('');
    }


    function displayHeader(searchType, searchParameter) {
      var msg = searchType + ":<br> " + searchParameter;
      $('#header').html(msg);
    }
    

    function displayRefs(url) {

      $("#references_title").html("References");

      var referencesUrl = '/citations.json?' + url;
      $.get(referencesUrl, function (results) {

        var citations = results;  
        var refs = $("#references"); 
        refs.empty(); 

        for (var key in citations) {

          var li = document.createElement("li");
          li.innerHTML=citations[key];
          $("#references").append(li);

          var btn = document.createElement("button");
          btn.setAttribute("id", key);
          btn.setAttribute("class", "citation");
          btn.innerHTML="Tell me about studies like this";
          li.appendChild(btn);

        };

        clickReference();

      });

    }


    // When the user clicks on a word or topic, project an 
    // intensity map onto the brain reflecting activation associated with it
    function displayIntensity(url) {

      viewer.loadColorMapFromURL('/colors');  
      var intensityUrl = '/intensity?' + url;
      viewer.loadIntensityDataFromURL(intensityUrl, {
        min:0, 
        max:.5,
      });

    }


    function getClusterD3(cluster_id) {

      url = '/d3topic.json?cluster_id=' + cluster_id;
      $.get(url, initializeD3);

    }

    // Event handlers to generate intensity or D3 when user manually submits
    // a word or a coordinate or clicks on a reference

    // Location --> d3 + references 

    $("#submit-xyz").on("click", function(evt) {

      var x = $("#xcoord").val();
      var y = $("#ycoord").val();
      var z = $("#zcoord").val();

      // Form validation 
      if (isNaN(x) == true || isNaN(y) == true || isNaN(z) == true ||
          x > 100 || x < -100 || y > 100 || y < -100 || z > 100 || z < -100) {
        alert("Please enter coordinates between -100 and 100.");
        return;
      }

      // Prepare the screen for new information
      clearScreen();
      msg = String(x) + " " + String(y) + " " + String(z);
      displayHeader(searchType="Location", searchParameter=msg);
      viewer.drawDot(x, y, z, 2, 0x3399CC)

      // Get the references & d3 
      var url = "xcoord=" + String(x) + 
                "&ycoord=" + String(y) + 
                "&zcoord=" + String(z) + 
                "&options=location";
      $.get('/d3.json?' + url, initializeD3);
      displayRefs(url);

    }); 


    // Word --> intensity + references 
    $('#submit_word').on('click', function(evt) {

      clearScreen();

      var word = $('#word_search').val();
      displayHeader(searchType="Word", searchParameter=word);

      $.get('/d3word.json?word=' + word, initializeD3)

      var url = "word=" + word + "&options=word";
      displayIntensity(url);
      displayRefs(url);

    });
    

    // References --> intensity + D3  
    function clickReference() {

      $('.citation').on('click', function(evt) {

        console.log("User clicked on a reference.");
        clearScreen();
        displayHeader(searchType="Study", searchParameter=this.id);

        var url = 'pmid=' + this.id + '&options=study';

        displayIntensity(url);
        displayRefs(url)

        var d3Url = "/d3.json?pmid=" + this.id + "&options=study";
        $.get(d3Url, initializeD3);

      });

    }


    // MAIN D3 FUNCTION //////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    

    function initializeD3(results) {   

        var width = 500,
            height = 500,
            root; 

        var force = d3.layout.force()
            .linkDistance(20)
            .charge(-300)
            .gravity(.20)
            .size([width, height])
            .on("tick", tick);

        var svg = d3.select("#d3_here").append("svg")
            .attr("width", width)
            .attr("height", height);

        var link = svg.selectAll(".link"),
            node = svg.selectAll(".node");

        var root = results;

        update();

        function update() {
          var nodes = flatten(root),
              links = d3.layout.tree().links(nodes);

          // Restart the force layout.
          force
              .nodes(nodes)
              .links(links)
              .start();

          // Update links.
          link = link.data(links, function(d) { return d.target.id; });

          link.exit().remove();

          link.enter().insert("line", ".node")
              .attr("class", "link");

          // Update nodes.
          node = node.data(nodes, function(d) { return d.id; });

          node.exit().remove();

          var nodeEnter = node.enter().append("g")
              .attr("class", "node")
              .on("click", click)
              .call(force.drag);

          nodeEnter.append("circle")
              .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 8; });

          nodeEnter.append("text")
              .attr("dy", ".2em")
              .text(function(d) { return d.name; });

          node.select("circle")
              .style("fill", color);
        }

        function tick() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        }

        function color(d) {   // node colors 
          return  d._children ? "#3182bd" //  collapsed package (no longer in use)
              : d.children ? "#008080" // expanded package //
              : "#ffae42"; // leaf node
        }

        // Event handler to deal with node clicks: 
        function click(d) {

          if (d3.event.defaultPrevented) return; // ignore drag

          if (d.children) {  
            if (d.name === '') { return }; // ignore placeholder nodes w/ no name
            displayHeader(seachType="Topic #", searchParameter=d.name);
            var url = "cluster=" + d.name + "&options=cluster"; 
            $.get('/d3topic.json?cluster=' + d.name, initializeD3);
          } 

          else {
            displayHeader(searchType="Word", searchParameter=d.name);
            var url = "word=" + d.name + "&options=word";
            $.get('/d3word.json?word=' + d.name, initializeD3)
          }

          clearScreen();
          displayRefs(url);
          displayIntensity(url);
          update();

        }

        // Returns a list of all nodes under the root.
        function flatten(root) {
          var nodes = [], i = 0;

          function recurse(node) {
            if (node.children) node.children.forEach(recurse);
            if (!node.id) node.id = ++i;
            nodes.push(node);
          }

          recurse(root);
          return nodes;
        }
    } 

  // D3 SCRIPT END  ///////////////////////////////////////////////////////////


</script>

</body>
</html>